@media screen and (max-width: 1280px) {
    nav.navs ul li a {
        font-size: 15px;
        padding: 0 10px;
    }

    span.logo {
        width: 150px;
        flex: 0 0 150px;
    }

    .aircraftpartsImg:after {
        width: 380px;
    }

    .aircraftpartsImgBtm {
        position: absolute;
        bottom: -60px;
        right: -15px;
        width: 190px;
    }
    
}

@media screen and (max-width: 1136px) {
    .quote1 , .quote2{
        width: 100px;
        display: inline-block;
    }
}

@media screen and (max-width: 991px) {
    .banner .row {
        height: 450px;
    }

    .aircraftpartsImg:after {
        width: 290px;
        height: 400px;
        left: 6%;
        top: 15px;
    }
    .recertifiedpartsImg:after {
        width: 290px;
        height: 350px;
        right: 6%;
        top: 15px;
    }

    .aircraftpartsImgBtm {
        bottom: auto;
        top: 260px;
        width: 171px;
    }

    .lists li {
        font-size: 20px;
    }

    .mb-5 {
        margin-bottom: 1rem !important;
    }

    .recertifiedpartsImgBtm {
        width: 140px;
    }

    .recertifiedpartsImgBtm img {
        height: 150px;
        object-fit: cover;
    }
    footer h4 {
        margin:25px 0 0 !important;
    }
    footer h4.mb-3 {
        margin-bottom: 0.3rem !important;
    }
    .box p {
        min-height: auto;
    }
    
}

@media screen and (max-width:767px) {
    .aircraftpartsImg , .recertifiedpartsImg{
        margin-bottom: 30px;
    }

    .col-md-6.relative.aircraftpartsImg img {
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }

    .aircraftpartsImg:after {
        width: 290px;
        height: 366px;
        left: 0;
        top: 15px;
        right: 0;
        margin: 0 auto;
    }

    .aircraftpartsImgTop {
        position: absolute;
        top: -30px;
        left: 80px;
        width: 130px;
    }

    .aircraftpartsImgBtm {
        bottom: auto;
        top: 260px;
        width: 131px;
    }

    .stellarnav.mobile {
        float: left !important;
    }

    h1 {
        font-size: 44px;
    }

    .floatBox {
        display: none;
    }

    .p-v-200 {
        padding: 100px 0;
    }

    .services .text-center {
        text-align: left !important;
    }

    .mt-4 {
        margin-top: 0.5rem !important;
    }

    .p-v-60-300 {
        padding: 60px 0 150px;
    }

    .support .col-md-4::before {
        display: none;
    }

    .support h5 {
        padding: 15px 0;
        text-align: center;
    }
    h2 {
        font-size: 28px;
    }
    h2 br {
      display: none;
    }
    body , .lists li {
        font-size: 16px;
    }
    .services center {text-align: left !important;}
    h3 {
        font-size: 24px;
    }
    .p-v-60 {
        padding:40px 0;
    }
    .mt-5 {
        margin-top: 1rem!important;
    }
    .contactparts h3 {
        margin-top: 30px;
    }
    footer {
        background: var(--light-gray);
        padding: 40px 0 20px;
        font-size: 90%;
    }
    
}


@media screen and (max-width:736px) {
    .aircraftpartsImgBtm, .aircraftpartsImgTop, .recertifiedpartsImgBtm, .recertifiedpartsImgTop , .flyplane {
        display: none;
    }
    .aircraftpartsImg , .recertifiedpartsImg {
        padding:0;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto 25px;
    }
    .p-v-200 {
        padding: 50px 0;
    }
    .quote1, .quote2 {
        width: 70px;
        display: inline-block;
    }
    .quote1 {
        left: 10px;
        top: -70px;
    }
    .quote2 {
        right: 20px;
        bottom: -70px;
    }
    .wrap {
        max-width: 100%; padding: 0px 20px;
    }
    .p-v-80 {
        padding: 40px 0;
    }
    .topHead ul li {
        margin-right: 12px;
    }
    .topHead ul li a img {
        margin-right: 2px;
    }
    .topHead .followus li a {
        padding: 0 3px;
        font-size: 18px;
    }
    h1 {
        font-size: 35px;
    }
    .banner .btn {
        font-size: 16px;
        font-family: var(--bodyMediumFont);
        padding: 8px 30px;
    }
    .contactparts p {
        font-size: 16px;
        font-family: var(--bodyMediumFont);
        position: relative;
        padding-left: 30px;
    }
    .contactparts p img {
        top: 5px;
    }
    .aircraftpartsImg:after {
        width: 240px;
        height: 310px;
        top: 10px;
        margin: 0 auto;
    }
    .recertifiedpartsImg:after {
        width: 240px;
        height: 310px;
        right: 6%;
        top: 10px;
    }
    .justabusiness {
        padding: 70px 0 !important;
    }
}

@media screen and (max-width:575px) {
    .wTime .text-center {text-align: left !important;}
    .aircraftpartsImg:after , .recertifiedpartsImg:after {
        width: 90%;
        height: 100%;
    }
    .btn {
        padding: 7px 11px;
    }
}


@media screen and (max-width:414px) {
    .topHead {display: none !important;}
    span.logo {
        width: 100px;
        flex: 0 0 100px;
    }
    header hr {display: none !important;}
}